<h1 style="margin-left: 40% !important;">Login Form</h1>
<?php

	echo $this->Form->create('User' ,array('class' => 'custom_form'));
	echo $this->Form->input('username');
	echo $this->Form->input('password');

	echo $this->Form->submit(
	    'Login', 
	    array('class' => 'custom-class')
	);
	echo $this->Form->end();
	// echo $this->Form->end('Login', array('style' => 'buttonAlign: center;'));
	?>
		
	<div style="margin-left: 36%;">
	<?php
	echo $this->Html->link("Register", array('controller' => 'users','action'=> 'add'), array( 'class' => 'btn btn-primary', 'style' => 'width: 250px; margin: 0 auto;'))


?>
</div>

